body {
  margin: none;
  padding: none;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-weight: bolder;
  font-size: 100px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

#grid {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gridElement {
  border: 0.01px solid black;
}

#sliderContainer {
  display: flex;

  margin-top: 10px;
  max-width: 150px;
}

#sliderOutput {
  display: flex;
  justify-content: center;
}
