body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: none;
  padding: none;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-weight: bolder;
  font-size: 100px;
}

#gridContainer {
  display: flex;
  max-width: 500px;
  max-height: 500px;
}

#grid {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gridElement {
  border: 0.01px solid black;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 100px;
}

#slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#colorChange {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
